<footer class="footer-container">
  <section class="mobile-view hidden">
    <article class="links">
      <h4>Logo</h4>
      <div class="link"><a href="">Link One</a></div>
      <div class="link"><a href="">Link Two</a></div>
      <div class="link"><a href="">Link Three</a></div>
      <div class="link"><a href="">Link Four</a></div>
      <div class="link"><a href="">Link Five</a></div>
    </article>
    <article class="subscribe-container">
      <div>
        <label for="">Subscribe</label>
      </div>

      <div>
        <input type="text" placeholder="Enter your email" />
      </div>
      <div>
        <button>Subscribe</button>
      </div>

      <p>By subscribing you agree to with our Privacy Policy</p>
    </article>
  </section>
  <section class="credits">
    <div class="divider"></div>
    <article class="row">
      <div class="footer-links">
        <div class="link underline">Privacy Policy</div>
        <div class="link underline">Terms of Service</div>
        <div class="link underline">Cookies Settings</div>
      </div>
      <div class="all-rights-reserved">© 2023 Relume. All rights reserved.</div>
    </article>
  </section>
</footer>
